<section class="section">
  <div class="columns">
    <div class="column is-8 is-offset-2">
      <div class="content is-medium">
        <h2 class="subtitle is-4"><%= @book.author %></h2>
        <h1 class="title"><%= @book.title %></h1>
        <p><%= @book.isbn %></p>          

          <p id="notice"><%= notice %></p>
         
        <%= link_to 'borrow', borrow_book_path(:id => @book.id), :class => "button is-success" %> 
        <% if @has_borrowed %>
         
        <% else %>
           <%= link_to 'return', return_book_path(:id => @book.id), :class => "button is-link" %>  
        <% end  %>
             
        
            
      </div>
    </div>
  </div>
</section>