<section class="section">
  <div class="columns">
    <div class="column is-8 is-offset-2">
      <div class="content is-medium">
        <h2 class="subtitle is-4"><%= @book.author %></h2>
        <h1 class="title"><%= @book.title %></h1>
        <p><%= @book.isbn %></p>          

        <% if @book.borrow %>
          <% if @book.user_id == current_user.id %>
            <%= link_to 'return', return_book_path(:id => @book.id), :class => "button is-link" %>
          <% else %>
            <p id="notice"><%= message %></p>
          <% end %>
        <% else %>
          
        <%= link_to 'borrow', borrow_book_path(:id => @book.id), :class => "button is-success" %>
        <% end %>
      </div>
    </div>
  </div>
</section>